

.tarta{
    position:fixed; 
    top: 28%;
    left: 48%;
    width: 130px;
    height: 300px;
    background-image: url(sprite.png);
    animation: tarta 0.75s steps(16) infinite ;
}

@keyframes tarta{
    from{
        background-position:  -0 -60px; 
    }
    to{
        background-position: -2160px -60px;
    }
}