.header > div{
    background-image: linear-gradient(rgb(0, 110, 255),rgba(255, 255, 255, 0));
}
.header{
    background-image: url(../img/death-valley.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: center;
}
.header .header-content >div{
    align-items: center;
    display: flex;
    height: 30vh;
}
.header .header-content >h1{
    display: flex;
    color: white;
    font-size: 70px;
}
.header .header-content >div div{
    width: 70px;
    height: 70px;
    margin: 1em;
    border-radius: 50%;
    background-color: white;
}
.calendar{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 5em 0 5em 0;
}

.calendar table{
    width: 100%;
}
.calendar table td,th{
    width:calc(100%/7);
    height: 150px;
}

.calendar table th{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 110, 255);
    height: 60px;
}

.calendar .inputs{
    width: 100% ;     

    display: flex;
    gap: 10%;
}

.calendar .inputs > input{
    flex: 1;
    height:4em;
    margin: 2em 0 2em 0;
    font-size: 20px;
}
.place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.place > div:nth-child(1){
    flex: 3;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    margin-right: 3em;
}
.place > div:nth-child(2){
    flex: 2;
    background-color: rgb(0, 94, 218);
    padding:  2em;

}
.place > div:nth-child(2){
    margin: 1em;
    
}
.place > div:nth-child(2) label{
    font-size: 20px;
    margin: 1em;
}
.place > div:nth-child(2) input{
    height:5em;
}
.place > div:nth-child(2) div{
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 1em;
}

.place > div:nth-child(2) input[type="checkbox"]{
    width: 30px;    
}

.place-bg{
    margin: 5em 0 5em 0;
    padding: 3em;
    background-color: rgb(0, 110, 255);
}

.car-select > div {
    background-color: rgb(255, 208, 0);
    box-shadow: 10px 10px 5px rgba(65, 65, 65, 0.315);

    height: 10vh;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.car-select > div h2{
    color: white;
    font-size: 70px;
}

.car-header{
    background-color: rgba(87, 87, 87, 0.336);    
    padding: 1em;
    color: rgb(255, 255, 255);
    margin-top: 5em;
}
.car{
    display: flex;
    height: 400px;
    align-items: center;
    margin: 4em;
}

.car > div:nth-child(1) img{
    width: 30px;
}
.car > div:nth-child(1) div{
    width: 100%;
    display: flex;
    gap: 4em;
    justify-content: center;
}
.car > div:nth-child(1) > p{
    width: 100%;
    text-align: center;
}
.car > div:nth-child(1) {
    flex: 2;
    background-color: rgb(0, 110, 255);
    padding:  2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2em;
    font-size: 25px;
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 37, 94, 0.596);
}

.car > div:nth-child(2){
    flex: 3;
    width: 100%;
    height: 400px;
    background-size: 100% auto;
    box-shadow: 10px 10px 10px rgba(0, 37, 94, 0.596);
}